:root {
    --header-bac-color: linear-gradient(to right, #00bcd4, #002f55, #008a9c);
    --header-text-color: rgb(255, 255, 185);
    --header-text-shadow: 3px 3px 12px rgb(248, 248, 150);
    --button-bac-color: rgb(0, 0, 190);
    --button-text-color: rgb(248, 247, 206);
    --button-shadow-color: 3px 3px 12px rgb(248, 248, 150);
    --image-color: linear-gradient(
      to right,
      rgb(169, 224, 255),
      rgb(1, 175, 255),
      rgb(0, 0, 241)
    );
    --root-bac-color: rgb(3, 0, 17);
    --root-text-color: rgb(250, 248, 235);
    --root-text-shadow: 3px 3px 12px rgb(250, 250, 208);
    --footer-bac-color: linear-gradient(to right, #011933, #01569c, #fffc5d);
  }

body {
    background-color: rgb(1, 0, 22);
    color: rgb(255, 255, 119);
}

.nav {
    display: flex;
    background-image:var(--header-bac-color);
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

.nav-title {
    justify-items:center;
    color: var(--header-text-color);
    text-shadow: var(--header-text-shadow);
    font-size: 20px;
    padding-left: 40%;
}

.nav-links {
    color: white;
    display:inline;
    padding-right: 5%;
    justify-items: flex-end;
}
a:visited {
    color:#724812
}
a:hover {
    color: white;
    background:#011933;
    padding: 5px;
    border:1px solid #011933;
    border-radius: 8px;
}

.nav-links a {
    padding: 5px;
}
main {
    min-height: 90vh;
}
.main-image {
    height: 200px;
    width: auto;
    border: 2px solid rgb(0, 2, 12);
    margin: auto 0px;
    transition: transform 0.5s ease-in-out;
}

.main-image:hover {
    transform: scale(2.0);
    box-shadow: 4px 4px 8px rgb(119, 64, 0);
}

.list-card {
    display: flex;
    flex-direction: row;
    width: 96%;
    justify-content: space-between;
}

.lc-details {
    border: 2px solid white;
    border-radius: 4px;
    margin:10px;
    padding:10px;
    box-shadow: 2px 2px 4px rgb(255, 239, 96);
}

.list-image {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: auto 0px;
}

.list-details {
    padding-left: 20px;
    max-width: 60%;
}

.ld-details {
    align-content: center;
}

body {
    margin: 0px;

}

main {
    padding: 0px 15px;
}






footer {
    margin-top: 30px;
    position: static;
    bottom: 0px;
    width: 100%;
    height: 10%;
    background: var(--footer-bac-color);
    align-content: center;
    padding: 30px 30px;
    border-top: 2px solid black;
  }

  .p1 {
    text-align: center;
    color: var(--root-text-color);
    font-size: 22px;
    
  }