{% extends "base.html" %}
{% block content %}

<main>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <h2>Location Info</h2>
    {{ form.as_p }}

    <h2>Main Images</h2>
    {{ image_formset.management_form }}
    {% for form in image_formset %}
        {{ form.as_p }}
    {% endfor %}

    <h2>Fun Facts</h2>
    {{ fact_formset.management_form }}
    {% for form in fact_formset %}
        {{ form.as_p }}
    {% endfor %}

    <button type="submit">Submit</button>
</form>
</main>

{% endblock content %}
